<div class="container">
    <!-- Tutor cards will be displayed here -->
    {{{">tutors/tutors-card"}}}
       {{#each tutor}}
        
            <div class="card">
                <img src="#" alt="tutor"  class="tutoravi">
                <h1>{{this.name}}</h1>
                <p>{{this.subjects}}</p>
                <p>{{this.bio}}</p>
                <p>{{this.ratings}}</p>

                <p><button class="contact">Contact</button></p>
            </div>
        
    {{/each}}


</div>