<div class="container">
    <div class="profileSideBar">
        <a class="sideLink" href="/">Back To Seach</a>
        <br>
        <a class="sideLink" href="/tutors/blank">Profile Page</a>
        <br>
        <a class="sideLink" href="/faq">FAQs</a>
    </div>

    <div class="profile">

        <div class="profile-img">
            <img src={{tutor.photo}} alt="Image not found" onerror="this.src='/imgs/placepic.jpg';" />
            <h2>{{tutor.name}}</h2>
        </div>
        <br>

        <div class="bio">
            <h3>Bio</h3>
            <hr>
            <p>{{tutor.bio}}</p>
        </div>

        <div class="calendar">
            <header>
                <h3>August</h3>
                <a class="btn-prev fontawesome-angle-left" href="#"></a>
                <a class="btn-next fontawesome-angle-right" href="#"></a>
            </header>

            <table>

                <thead>
                    <tr>
                        <td>Mo</td>
                        <td>Tu</td>
                        <td>We</td>
                        <td>Th</td>
                        <td>Fr</td>
                        <td>Sa</td>
                        <td>Su</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="prev-month">30</td>
                        <td class="prev-month">31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td class="event">14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td class="current-day event">25</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td class="event">23</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="next-month">1</td>
                    </tr>
                    <tr>
                        <td class="next-month">2</td>
                        <td class="next-month">3</td>
                        <td class="next-month">4</td>
                        <td class="next-month">5</td>
                        <td class="next-month">6</td>
                        <td class="next-month">7</td>
                        <td class="next-month">8</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end calendar -->
        <div class="messages">
            <div class="message-head">
                <h3>Messages</h3>
                <hr>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="message-item">
                <div class="sender">
                    <b>From: </b>
                    <p>GuestUser1234</p>
                </div>
                <div class="message-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum asperiores molestias
                        quod veritatis. Perferendis a placeat at officia ipsam et neque. Nam suscipit mollitia repellat fugiat
                        porro repellendus facere!</p>
                </div>
                <div class="time-stamp">
                    <b>August 25th, 2018</b>
                </div>
                <div class="reply">
                    <button class="replyBtn" data-open="modal1" data-from="{{this.from}}" data-to="{{this.to}}">Reply!</button>
                    <div id="messageModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <div class="messageContainer" id="messageArea">
                                <br>
                                <b class="messageHead" id="head"> </b>
                                <hr id="messageHR">
                                <label for="message">
                                    <b>Enter Message Below</b>
                                </label>
                                <form action="/messages/{{this.username}}" method="POST">
                                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                                    <button type="submit" id="sendBtn">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

</div>
<script>
    var message = document.getElementById('messageModal');

    var span = document.getElementsByClassName("close");

    var buttons = document.getElementsByClassName("messageBtn");

    var send = document.getElementsByClassName("sendBtn");

    for (i = 0; i < span.length; i++) {
        span[i].addEventListener('click', function () {
            message.style.display = "none";
        }, false)
    }

    for (i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function () {
            message.style.display = "block";
            var messageId = document.getElementById('head');
            var from = this.getAttribute("data-from");
            messageId.innerHTML = "Send message to " + from;
        }, false)
    }

    for (i = 0; i < send.length; i++) {
        send[i].addEventListener("click", function () {
            var messageArea = document.getElementById("messageArea");
            messageArea.innerHTML = "";

        })
    }
</script>