<div class="tutor-card">
    <div class="img-card">
        <img class="tutor-img" src="{{this.photo}}">
        <br>
        <b>{{this.name}}</b>
    </div>
    <div class="subjects">
        <b>Subjects</b>
        <ul>
            <li>{{this.subjects}}</li>

        </ul>
    </div>
    <div class="about">
        <b>About</b>
        <br>
        <p>{{this.bio}}</p>
    </div>
    <div class="rating">
        <b>Rating</b>
        <br>
        <br>
        <p>{{this.ratings}} / 10</p>
    </div>
    <button href="#" class="messageBtn" data-open="modal1" data-name="{{this.name}}" data-username="{{this.username}}" data-id="{{this.id}}">Message!</button>
    <div id="messageModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <div class="messageContainer">
                <br>
                <b class="messageHead" id="head"> </b>
                <hr id="messageHR">
                <label for="message">
                    <b>Enter Message Below</b>
                </label>
                <form action="/messages/{{this.username}}" method="POST">
                    <textarea id="messageBox" name="message" rows="10" cols="50" placeholder="Why not ask when this tutor is available?"></textarea>
                    <button type="submit" id="sendBtn">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>
</div>

<script>
    var message = document.getElementById('messageModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close");

    var buttons = document.getElementsByClassName("messageBtn");

    var send = document.getElementsByClassName("sendBtn");

    for (i = 0; i < span.length; i++) {
        span[i].addEventListener('click', function () {
            message.style.display = "none";
        }, false)
    }

    for (i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function () {
            message.style.display = "block";
            var messageId = document.getElementById('head');
            var name = this.getAttribute("data-name");
            messageId.innerHTML = "Send message to " + name;
        }, false)
    }

    for (i = 0; i < send.length; i++) {
        send[i].addEventListener("click", function (event) {
            event.preventDefault();

        })
    }

    /* !-- $(#sendBtn).on("click", () => {
        $(#sendBtn).text("<i class="fas fa-check-circle"></i>")
    }) */
</script>